# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.elf

# gitignore for cmake
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

# Example project files
sdkconfig.old
build/
out/build/

# freecad
*.pyc
*.fcstd1
*.FCStd1
*.fcstd2
*.FCStd2
Private

!.vscode/tasks.json
!.vscode/c_cpp_properties.json

[Bb][Uu][Ii][Ll][Dd]/
